* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input:invalid {
    border: 1px dashed red;
  }

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: left;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: left;
}

.scanbox {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    margin-top: 6px;
    text-align: left;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #45a049;
}

h1 {
    color: #444444;
}

h2 {
    color: #444444;
}

h3 {
    color: #444444;
    text-align: left;
    margin-bottom: 1px;
    margin-top: 30px;
}

table {
    width: auto;
    padding-left: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 15px;
}

p {
    font-size: 20px;
    color: #444444;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    label {
        padding: 6px 6px 3px 0;
        display: inline-block;
    }
    table {
        padding-left: 1px;
    }
}